<!DOCTYPE html>
<html>
  <head>
    <title>iVoiceMail client</title>
    <link href="//static0.twilio.com/packages/quickstart/client.css"
      type="text/css" rel="stylesheet" />
  </head>
  <body>
      <form action={{ url }} method="post">
          Name: <input type="text" name="name" placeholder="Name">
          First Name: <input type="text" name="fname" placeholder="First Name">
          Phone number: <input type="text" name="phone" placeholder="06........">
          Speech: <input type="text" name="speech" placeholder="Speech">
          <input type="submit" value="Submit" placeholder="Name">
      </form>
  </body>
</html>
