<!DOCTYPE html>
<html>
  <head>
    <title>iVoiceMail client</title>
    <link href="//static0.twilio.com/packages/quickstart/client.css"
      type="text/css" rel="stylesheet" />
  </head>
  <body>
      <!-- No time to do CSS stuff --> 
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
      <form action={{ url }} method="post">
          Name: <input type="text" name="name" placeholder="Name">
          First Name: <input type="text" name="fname" placeholder="First Name">
          Phone number: <input type="text" name="phone" placeholder="06........">
          Speech: <input type="text" name="speech" placeholder="Speech">
          <input type="submit" value="Submit" placeholder="Name">
      </form>
      <p>
        This small client allows you  to feed a contact database through the following form.<br/>
        First call the +33 9 75 18 93 14 to get the default message.
        The fill the form and submit it.<br/>
        Call again. You will hear the speech and the name you gave.<br/>

        <em>PS: You must call from the number you gave in the form</em>
        </p>
  </body>
</html>
