<!DOCTYPE html>
<html>
  <head>
    <title>iVoiceMail client</title>
    <link href="//static0.twilio.com/packages/quickstart/client.css"
      type="text/css" rel="stylesheet" />
  </head>
  <body>
      <!-- No time to do CSS stuff --> 
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
      <form method="POST" action="/submit">
          {% if form.errors %}
          <ul class="errors">
              {% for field_name, field_errors in form.errors|dictsort if field_errors %}
              {% for error in field_errors %}
              <li>{{ form[field_name].label }}: {{ error }}</li>
              {% endfor %}
              {% endfor %}
          </ul>
          {% endif %}
          {{ form.hidden_tag() }}
          {{ form.name.label }} {{ form.name(size=20) }}
          {{ form.fname.label }} {{ form.fname(size=20) }}
          {{ form.phone.label }} {{ form.phone(size=20) }}
          {{ form.speech.label }} {{ form.speech(size=20) }}
          <input type="submit" value="Go !">
      </form>
      <p>
        This small client allows you  to feed a contact database through the following form.<br/>
        First call the +33 9 75 18 93 14 to get the default message.
        Then fill the form and submit it.<br/>
        Call again. You will hear the speech preceded by the first name you gave.<br/>

        <em>PS: You must call from the number you gave in the form</em>
        </p>
  </body>
</html>
